.Profile {
    text-align: center;
    margin: 0 auto ;
}

.Heading {
    padding: 20px;
    background-color: purple;
}

.profile-picture {
    display: block;
    height: auto;
    max-width: 100%;

}