.Profile {
    text-align: center;
    margin: 0 auto ;
}

.Heading {
    padding: 20px;
    box-sizing: border-box;
    background-color: purple;
}

.profile-pic img {
    display: block;
    height: auto;
    max-width: 100%;

}